nav{
    display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: #87CEFA;
   justify-content: center;
   text-align: center;
} 

header img{
    width: 100px;
}
header{
    background-color: black;
    color: white;
    display: flex;
}
nav a{
    font-size: 35px;
    width: 200px; height: 60pv;
    text-align: center;
    color: black;
    text-decoration: none;
}
nav li{
    padding: 10px;
    border: solid 1px black;
    display: inline-block;
    border-radius: 10px;
    
}
.card {
    margin: 20px;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px, 10px, 20px #000;
    text-align: center;
    color: #FFB6C1;
    font-family: "EB Garamond", serif;
    font-size: 25px;
}
.card img{
    width: 50%;
    border-radius: 20px 20px 0 0 ;
}
.targetas{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}